/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --title-color: #0b0a0a;
  --text-color: #403a3a;
  --text-color-light: #707070;
  --container-color: #fafafa;
  --container-color-alt: #f0efef;
  --body-color: #fcfcfc;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margins ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/

/*========== Button Dark/Light ==========*/

/*========== Font size variables to scale cv ==========*/

/*========== Generate PDF button ==========*/

/*========== Classes modified to reduce size and print on A4 sheet ==========*/
body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section {
  padding: 1.5rem 0;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/
.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

/*========== NAV ==========*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 968px) {
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed)
    transition: 0.3s;
  }
}

.nav_logo, .nav_toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_toggle{
  font-size: 1.2rem;
  cursor: pointer;
}

.nav_item {
  text-align: center;
}

.nav_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav_link{
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  font-weight: var(--font-medium);
}

.nav_link:hover{
  color: var(--title-color);
}

.nav_icon {
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}

/* Show menu */
.show-menu{
  bottom: var(--header-height);
}

/* Active menu link */
.active-link{
  color: var(--title-color);
}

/*========== HOME ==========*/
.home{
  position: relative;
}
.home_container{
  gap: 3rem;
}

.home_data{
  gap: .5rem;
  text-align: center;
}

.home_img{
  width: 120px;
  height: 120px;
  margin: auto;
  border-radius: 50%;
  justify-content: center;
  margin-bottom: var(--mb-1);
}

.home_title {
  font-size: var(--h1-font-size);
}

.home_profession{
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}

.home_address{
  gap: 1rem;
}

.home_information{
  display: flex;
  align-items: center;
  font-size: var(--smaller-font-size);
}

.home_icon {
  font-size: 1.2rem;
  margin-right: 25rem;
}

.home_button-movil{
  display: inline-block;
  border: 2px solid var(--text-color);
  color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: 25rem;
  transition: .3s;
  font-weight: var(--font-medium);
  margin-top: var(--mb-3);
}

.home_button-movil:hover{
  background-color: var(--text-color);
  color: var(--container-color);
}

/*========== SOCIAL ==========*/
.social_container{
  grid-template-columns: max-content;
  gap: 1rem;
}

.social_link{
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.social_link:hover{
  color: var(--title-color);
}

.social_icon{
  font-size: 1.2rem;
  margin-right: .25rem;
}
/*========== PROFILE ==========*/
.profile_description{
  text-align: center;
}
/*========== EDUCATION AND EXPERIENCE ==========*/
.education_content,
.experience_content{
  display: flex;
}

.education_time,
.experience_time{
  padding-right: 1rem;
}

.education_rounder,
.experience_rounder{
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: .25rem;
}

.education_line,
.experience_line{
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color-light);
  transform: translate(7px, 0);
}

.education_data,
.experience_data{
  gap: .5rem;
}

.education_title,
.experience_title{
  font-size: var(--h3-font-size);
}

.education_studies,
.experience_company{
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.education_year{
  font-size: var(--smaller-font-size);
}
/*========== SKILLS AND LANGUAGES ==========*/
.skills_content,
.languages_content{
  grid-template-columns: repeat(2, 1fr);
}

.skills_content,
.languages_content{
  gap: 0;
}

.skills_name,
.languages_name{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}

.skills_circle,
.languages_circle{
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: .75rem;
}
/*========== CERTIFICATES ==========*/
.certificate_title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}
/*========== REFERENCES ==========*/
.references_content{
  gap: .25rem;
}

.references_subtitle{
  color: var(--text-color-light);
}

.references_subtitle,
.references_contact{
  font-size: var(--smaller-font-size);
}
/*========== INTERESTS ==========*/

/* Scroll top */

/*========== MEDIA QUERIES ==========*/
/* For small devices, menu two columns */

/* Classes modified for large screen size */
